/*
Theme Name:     Twentyeleven with Sidebar
Theme URI:      http://www.khromov.se
Description:    Twentyeleven child theme with a persistent, always-on sidebar. Inspired by Chris Aprea at Futurewebblog.
Author:         Stanislav Khromov
Author URI:     http://www.khromov.wordpress.com
Template:       twentyeleven
Version:        0.1.0
*/

@import url('../twentyeleven/style.css');

/* Comments */
.commentlist
{
    width: 100%;
}

.commentlist > li.comment, .commentlist .pingback
{
    margin-left: 102px;
    width: auto;
}

/* Edit links */
.entry-meta .edit-link a, .commentlist .edit-link a
{
    float: none;
    padding: 2px 8px;
}

ul
{
    list-style: circle inside none;
}

.entry-content img, .comment-content img, .widget img.full-size
{
    max-width: 100%;
}

.image-attachment div.attachment
{
    margin: 0;
}

.entry-title
{
    padding-top: 0;
}

/* Style for single image pages */
.image-attachment #content
{
    width: 61%;
    margin-left: 5%;
}

#respond
{
    width: 91.5%;
}

.clear
{
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}

.addthis_buttons
{
    height: 16px;
    margin-bottom: 10px;
}

.addthis_buttons a
{
    float: left;
    padding: 0 2px;
}